<div class="container posts-page" ng-show="signedIn()">
  <div class="col-md-9 col-xs-11">
    <table class="show-table">
      <tbody>
        <tr>
          <th>
            #
          </th>
          <th>
            Date
          </th>
          <th>
            Venue
          </th>
        </tr>
        <tr ng-repeat="show in shows">
          <td>
            {{ shows.length - $index - 1 }}
          </td>
          <td>
            <a ng-href="#/shows/{{ show.$id }}">
              {{ show.date | dateFromTimestamp }}
            </a>
          </td>
          <td>
            {{ show.venue }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>