<div class="container posts-page">

  <div class="post row">
    <div class="col-xs-1" ng-show="status == 'UPCOMING'">
      UPCOMING
    </div>
    <div class="col-xs-1" ng-show="status == 'COMPLETE'">
      COMPLETE
    </div>
    <div class="col-md-9 col-xs-11">
      <table class="show-table">
        <tbody>
          <tr>
            <th>
              Date
            </th>
            <th>
              Venue
            </th>
            <th ng-show="bands.length > 0">
              Other bands
            </th>
          </tr>
          <tr>
            <td>
              {{ show.date | dateFromTimestamp }}
            </td>
            <td>
              {{ show.venue }}
              {{ test }}
            </td>
            <td ng-repeat="band in bands" ng-show="$first">
              {{ band.name }}
            </td>
          </tr>
          <tr ng-repeat="band in bands" ng-show="!$first"> <!-- Skip first since we have it above -->
            <td>
            </td>
            <td>
            </td>
            <td>
              {{ band.name }}
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-controller="BandsAutoCompleteCtrl">
        <input data-ng-model="find" ng-change="search()"></input>
        <div ng-repeat="band in bands">
          <div ng-click="set(band.name)">
            {{ band.name }}
          </div>
          <div >

          </div>
        </div>
      </div>
    </div>
  </div>

</div>