<div class="container posts-page">

  <div class="post row">
    <div class="col-md-9 col-xs-11">
      <span ng-class="status()">{{ status() }}
        </span>
    </div>
    <div class="col-md-9 col-xs-11">
      <table class="show-table">
        <tbody>
          <tr>
            <th>
              Date
            </th>
            <th>
              Day
            </th>
            <th>
              Venue
            </th>
            <th ng-show="bands.length > 0">
              Other bands
            </th>
          </tr>
          <tr>
            <td>
              {{ show.date | dateFromTimestamp }}
            </td>
            <td>
              {{ show.date | dayFromTimestamp }}
            </td>
            <td>
              {{ show.venue }}
              {{ test }}
            </td>
            <td ng-repeat="band in bands" ng-show="$first">
              {{ band.name }}
            </td>
            <td ng-repeat="band in bands" ng-show="$first">
              <span class="deleteBand" ng-click="deleteBand(band.name)">&#10006;</span>
            </td>
          </tr>
          <tr ng-repeat="band in bands" ng-show="!$first"> <!-- Skip first since we have it above -->
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              {{ band.name }}
            </td>
            <td>
              <span class="deleteBand" ng-click="deleteBand(band.name)">&#10006;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9 col-xs-11" ng-controller="BandsAutoCompleteCtrl">
      <form class="form-inline" role="search" ng-submit="addBand()" ng-show="signedIn()">
        <div class="form-group">
          <input data-ng-model="find" ng-change="search()"></input>
        </div>
        <button type="submit" class="btn btn-default">Add Band</button>
        <div ng-repeat="band in bands">
          <div ng-click="set(band.name)">
            {{ band.name }}
          </div>
          <div >

          </div>
        </div>
      </form>
    </div>
    <div class="col-md-9 col-xs-11" class="deleteShow">
      <button ng-show="!deleteShow" ng-click="deleteShow = true" class="btn btn-default">Delete Show</button>
      <span class="deleteShow" ng-show="deleteShow == true">Are you sure? </span>
      <span ng-show="deleteShow == true"><a ng-click="delete()" href="" class="deleteShowConfirm">Yes </a>-</span>
      <span ng-show="deleteShow == true"><a ng-click="deleteShow = false" href="" class="deleteShowConfirm"> No</a></span>
      <button class="btn btn-default" ng-click="setPending()" ng-show="!show.pending && status() !== 'COMPLETE'">Make Pending</button>
      <button class="btn btn-default" ng-click="removePending()" ng-show="show.pending && status() !== 'COMPLETE'" >Confirm Show</button>
    </div>
  </div>
  <div class="post row">
    <div class="col-md-9 col-xs-11">
      Notes:
      <div class="showNotes" ng-show="notesEdit == false && show.notes">{{ show.notes }}</div>
      <br />
      <button class="btn btn-default" ng-click="editNotes()" ng-show="notesEdit == false"><span class="glyphicon glyphicon-edit"></span></button>
      <textarea ng-show="notesEdit == true" class="form-control" rows="3" ng-model="show.notes"></textarea>
      <br />
      <button class="btn btn-default" ng-click="saveNotes()" ng-show="notesEdit == true"><span class="glyphicon glyphicon-lock"></button>
    </div>
  </div>

</div>